@media (max-width: 46.23em) {

    .banner {
        height: 10rem;
        background: none;
    }

    .banner .heading {
        width: 100%;
        font-size: 4rem;
        line-height: 10rem;
    }

    .section1 {
        margin-top: 5rem;
        width: 100%;
        padding: 4rem 0;
    }

    .section1 .row {
        width: 100%;
        height: auto;
    }

    .section1 .row .heading {
        font-size: 3rem;
    }

    .section1 .row .input {
        width: 100%;
        height: auto;
    }

    .section1 .row .input input {
        font-size: 1.4rem;
    }

    .noti {
        display: block;
        height: auto;
        padding: 5rem 0;
        gap: 5rem;
        width: 90%;
        margin-top: 50%;
    }

    .noti .row {
        width: auto;
        font-size: 1.4rem;
    }

    .noti .heading {
        font-size: 3rem;
    }

    .noti .button {
        margin-top: 0;
    }

}

@media (min-width: 47em) and (max-width:80em) {
    .banner {
        height: 10rem;
        background: none;
    }

    .banner .heading {
        width: 100%;
        font-size: 6rem;
        line-height: 10rem;
    }

    .section1 {
        margin-top: 10rem;
        width: 100%;
        padding: 5rem;
    }

    .section1 .row {
        width: 100%;
        height: auto;
    }

    .section1 .row .heading {
        font-size: 4rem;
    }

    .section1 .row .input {
        width: 70%;
        height: auto;
    }

    .section1 .row .input input {
        font-size: 1.8rem;
    }

    .noti {
        display: block;
        width: 80%;
        height: auto;
        padding: 5rem 0;
        gap: 5rem;
        margin-top: 0%;
    }

    .noti .row {
        font-size: 1.8rem;
    }

    .noti .heading {
        font-size: 6rem;
    }

    .noti .button {
        margin-top: 0;
    }
}